$primary: #0dc5ab;
$secondary: #18182e;
$shadow: #6e85a821;
$description: #565678;

// RESPONSIVE
$responsive-shadow: #4f5b6d3b;
$responsive-main: #39414D;
$responsive-nav: #909DB2;
$responsive-description: #565678;
$responsive-nav-list: #173561;

$white: #fff;
$black: #000;
